<!--
Tämä sivu näyttää kalenterin, jossa näkyvät tilojen varaukset ja vapaat ajat.
-->
{% extends "master.html" %}

{% block title %}
  Kalenteri
{% endblock %}

{% block content %}
  <h2>Tilojen varaukset ja vapaat ajat</h2>
  <div id="calendar"></div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var calendarEl = document.getElementById("calendar");
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: "dayGridMonth",
        events: "/events-json/1/",
        locale: 'fi',
        buttonText: {
          today: 'Tänään'
        }
      });
      calendar.render();
    });
  </script>
{% endblock %}