<!-- Tämä on sovelluksen päätemplatetiedosto, johon muut sivut periytyvät. -->

<!DOCTYPE html>

<html lang="en">

  <!-- Asetetan head sisältö -->
  <head>

    <!-- Meta tiedot jolla käsitellän  -->
    <meta charset="UTF-8">

    <!-- Asetetaan sivun otsikko -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Ladataan bootstrap5, bootstrap css, bootstrap javascript ja static -->
    <!-- {% load bootstrap5 %} -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

    <!-- Haetaan websovelluksen oletus tyylitiedosto -->
    <link rel="stylesheet" href="{% static 'mystatic.css' %}">

    <!-- Haetaan FullCalendar tyylitiedosto jolla tehdään kalenterin ulkoasu -->
    <link href="{% static 'fullcalendar/fullcalendar.min.css' %}" rel="stylesheet">

    <!-- Ladataan FullCalendar javascript kirjasto -->
    <script src="{% static 'fullcalendar/fullcalendar-6.1.19/dist/index.global.min.js' %}"></script>

  </head>

  <!-- Asetetaan body sisältö -->
  <body>
    <nav class="topnav d-flex align-items-center justify-content-between p-2">

      <!-- Luodaan painikkeet -->
      <div>

        <!-- Painike joka johtaa etusivulle -->
        <a href="{% url 'main' %}" class="btn btn-primary">Etusivu</a>

        <!-- Painike joka johtaa tilat sivulle -->
        <a href="{% url 'spaces' %}" class="btn btn-primary">Tilat</a>

        <!-- If tarakisto onko käyttäjä kirjautuneena -->
        {% if request.user.is_authenticated %}

          <!-- Painike joka johtaa kirjautuneen käyttäjän omat tilat sivulle -->
          <a href="{% url 'my_spaces' %}" class="btn btn-primary">Omat tilat</a>

          <!-- Painike joka johtaa kirjautuneen käyttäjän varaus sivulle -->
          <a href="{% url 'my_reservations' %}" class="btn btn-primary">Omat varaukset</a>

        {% endif %}
      </div>

      <div>

        <!-- If tarkistus onko käyttäjä kirjautuneena -->
        {% if request.user.is_authenticated %}

          <!-- Painike joka johtaa kirjautuneen käyttäjän profiili sivulle -->
          <a href="{% url 'profile' %}">
            <button class="btn btn-outline-light me-2">Kirjautunut: <strong>{{ request.user.username }}</strong></button>
          </a>
          
          <!-- Painike joka johtaa etusivulle ja kirjaa käyttäjän ulos järjestelmästä -->
          <a href="{% url 'logout' %}">
            <button class="btn btn-secondary me-2">Kirjaudu ulos</button>
          </a>

        {% else %}

          <!-- Painike joka johtaa sisäänkirjautumis sivulle -->
          <a href="{% url 'login' %}">
            <button class="btn btn-primary me-2">Kirjaudu</button>
          </a>

          <!-- Painike joka johtaa rekisteröitymis sivulle -->
          <a href="{% url 'register' %}">
            <button class="btn btn-success me-2"> Rekisteröidy</button>
          </a>

        {% endif %}
      </div>
    </nav>

    <!-- Sijoitetaan pää sisältä block contet ja endblock:in sisälle -->
    {% block content %}
    {% endblock %}

  </body>

</html>