<!-- Tilan luonti-sivu -->

{% extends 'master.html' %}

{% block title %}
    Tilan luonti
{% endblock %}

{% block content %}

<!-- Pääsisällön kontti -->
<div class="container">
    <h2>Lisää tila</h2>

    <!-- Lomake ja sen sisällön eteentpäin lähettäminen (POST) -->
    <form method="POST">

        <!-- CSRF tokenin luonti -->
        {% csrf_token %}

        <!-- Luodaan form paragraaphina (kappaleena) -->
        {{ form.as_p }}

        <!-- Submit painike jokaa lähettää lomakkeen eteenpäin -->
        <button type="submit" class="btn btn-primary">Lisää tila</button>

        <!-- Painike joka lataa sivun uudelleen -->
        <a href="{% url 'profile' %}">
            <button type="button" class="btn btn-secondary">Peruuta</button>
        </a>

    </form>
</div>

{% endblock %}