<!-- Tämä sivu näyttää onnistuneen rekisteröinnin sivun -->

{% extends "master.html" %}

{% block title %}
  Tilanvarausjarjestelma
{% endblock %}

{% block content %}

<!-- Pää sisällön kontti -->
<div class="container d-flex justify-content-center">
  
  <!-- Asetetaan rajat sisllön keskitystä varten -->
  <div class="w-100" style="max-width: 480px;">

    <!-- Pää sisällön keskitys -->
    <div class="text-center">
      <h1>Rekisteröinti onnistui</h1>
      <p>Käyttäjä luotu onnistuneesti</p>

      <!-- Painikkeet -->
      <p>

        <!-- Painike joka johdattaa kirjautumis sivulle -->
        <a href="{% url 'login' %}"><button class="btn btn-primary">Kirjaudu sisään</button></a>

        <!-- Line brake -->
        <br>

        <!-- Painike joka johdattaa etusivukke -->
        <a href="{% url 'main' %}"><button class="btn btn-primary">Palaa etusivulle</button></a>
      </p>
    </div>
  </div>
</div>

{% endblock %}