<!-- Tämä sivu näyttää yksittäisen käyttäjän tiedot. -->
{% extends "master.html" %}

{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}

{% block content %}

 <!-- Kortti alkaa tästä -->
  <div class="mycard">

    <!-- Kortin header -->
    <div class="mycard-header">

      <!-- Käyttäjän etu ja sukunimi -->
      <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
    </div>

    <!-- Kortin sisältö -->
    <div class="mycard-body">

      <!-- Käyttäjän ID numero -->
      <p>ID: {{ mymember.idNumber }}</p>

      <!-- Käyttäjän puhelin -->
      <p>Puhelin: {{ mymember.phone }}</p>

      <!-- Käyttäjän sähköposti -->
      <p>Sähköposti: {{ mymember.email }}</p>

      <!-- Käyttäjän liittymis päivä -->
      <p>Liittynyt jäseneksi: {{ mymember.joined_date }}</p>
    </div>

    <!-- Kortti loppuu tähän -->
  </div>
{% endblock %}
